<app-hero [heroText]="menuText" [heroSubText]="menuSubText"> </app-hero>

<section class="bg-[#f9eedb] sticky top-0 z-10">
  <div
    class="flex justify-start items-center space-x-56 w-[1200px] mx-auto h-[6rem]"
  >
    <div class="">
      <h2 (click)="initializeMenu()" class="text-2xl font-bold">Menu</h2>
    </div>
    <!-- ////// -->
    <div class="flex items-center border border-black rounded-xl w-[30% ]">
      <input
        [(ngModel)]="searchInput"
        (input)="onSearch()"
        class="text-xl p-2 w-full rounded-l-xl"
        type="text"
        placeholder="Search drinks, foods, coffees"
      />
      <div
        class="flex items-center justify-center bg-[#fff] w-12 h-11 rounded-r-xl border-l"
      >
        <mat-icon> search</mat-icon>
      </div>
    </div>
    <!-- ///// -->
  </div>
</section>

<section
  class="w-[1200px] mx-auto mt-10 flex items-start space-x-20"
  id="menu-list"
>
  <!-- menu-sidebar -->
  <div id="sideBar" class="sticky top-[6rem] w-1/6">
    <div class="flex flex-col space-y-10 mt-5">
      <!-- menu1 -->
      <div>
        <h3 class="font-bold text-xl">Drinks</h3>
        <ul class="space-y-2 mt-3">
          <li (click)="filterMenu('Coffee')" class="cursor-pointer">Coffee</li>
          <li (click)="filterMenu('Milktea')" class="cursor-pointer">
            MilkTea
          </li>
          <li (click)="filterMenu('Sodas')" class="cursor-pointer">Soda</li>
          <li (click)="filterMenu('Loose Tea')" class="cursor-pointer">
            Loose Tea
          </li>
          <li (click)="filterMenu('Non-coffee Drinks')" class="cursor-pointer">
            Non-coffee Drinks
          </li>
        </ul>
      </div>
      <!-- menu1 -->
      <!-- ///// -->
      <!-- menu2 -->
      <div>
        <h3 class="font-bold text-xl">Foods</h3>
        <ul class="space-y-2 mt-3">
          <li (click)="filterMenu('Rice Meal')" class="cursor-pointer">
            Rice Meal
          </li>
          <li (click)="filterMenu('Silog Meal')" class="cursor-pointer">
            Silog Meal
          </li>
        </ul>
      </div>
      <!-- menu2 -->
    </div>
  </div>
  <!-- menu-sidebar -->

  <!-- display menu -->
  <div id="searchMenu" class="w-full space-y-20">
    <div *ngIf="filteredItems[0].category === 'Drinks'" id="allDrinks">
      <h3 *ngIf="variety">
        <span (click)="initializeMenu()" class="font-bold">Menu</span
        >&nbsp;/&nbsp;<span>{{ filteredItems[0].category }}</span>
      </h3>
      <!-- Menu Title -->
      <div class="h-[4rem] flex items-center border-b-2 mb-5">
        <h3 class="font-bold text-2xl">{{ variety || "Drinks" }}</h3>
      </div>
      <!-- Menu -->
      <ul class="grid grid-cols-3 gap-5">
        <ng-container *ngFor="let item of filteredItems">
          <li
            *ngIf="item.category === 'Drinks'"
            class="flex flex-col justify-self-start items-center space-y-5"
          >
            <div class="menuImg-wrapper">
              <img
                class="menuImg transition-transform hover:-translate-y-2"
                [src]="item.imgPath"
                alt="Menu Item"
              />
            </div>

            <h4 class="font-semibold text-xl">{{ item.name }}</h4>
          </li>
        </ng-container>
      </ul>
    </div>
    <div *ngIf="filteredItems[0].category === 'Foods'" id="allFoods">
      <h3 *ngIf="variety">
        <span (click)="initializeMenu()" class="font-bold">Menu</span
        >&nbsp;/&nbsp;<span>{{ filteredItems[0].category }}</span>
      </h3>
      <div class="h-[4rem] flex items-center border-b-2 mb-5">
        <h3 class="font-bold text-2xl">{{ variety || "Food" }}</h3>
      </div>
      <ul class="grid grid-cols-3 gap-5">
        <ng-container *ngFor="let item of filteredItems">
          <li
            *ngIf="item.category === 'Foods'"
            class="flex flex-col justify-self-start items-center space-y-5"
          >
            <div class="menuImg-wrapper">
              <img
                class="menuImg transition-transform hover:-translate-y-2"
                [src]="item.imgPath"
                alt="Menu Item"
              />
            </div>

            <h4 class="font-semibold text-xl">{{ item.name }}</h4>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <!-- display menu -->
</section>
