<div
  class="fixed top-0 right-0 left-0 shadow-b text-[#FFF7E6] z-[100000] bg-[#33150e] transition-transform duration-300"
  [ngClass]="{
    'translate-y-0': isNavbarVisible,
    '-translate-y-full': !isNavbarVisible
  }"
>
  <div
    class="flex justify-between max-w-[75rem] md:m-auto mx-5 items-center py-2 md:py-0"
  >
    <img
      routerLink="/"
      class="md:size-24 sm:size-16 size-14 cursor-pointer"
      [src]="logo"
      alt="Langga Cafe Logo"
    />
    <ul
      class="flex text-center space-x-8 items-center font-bold md:text-md text-xs"
    >
      <li
        routerLink="/menu"
        class="flex items-center text-center cursor-pointer"
      >
        MENU
      </li>
      <li
        routerLink="/location"
        class="flex items-center text-center cursor-pointer"
      >
        <mat-icon>location_on</mat-icon>LOCATION
      </li>
    </ul>
  </div>
</div>
